# Created by http://gitignore.io

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
build.properties


### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/.htaccess
!*/logs/index.html
*/cache/*
!*/cache/.htaccess
!*/cache/index.html


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/